<?xml version="1.0"?>
<config>
    <modules>
        <Pagcommerce_Payment>
            <version>1.3.1</version>
        </Pagcommerce_Payment>
    </modules>
    <global>
        <models>
            <pagcommerce_payment>
                <class>Pagcommerce_Payment_Model</class>
                <resourceModel>pagcommerce_payment_resource</resourceModel>
            </pagcommerce_payment>
            <pagcommerce_payment_resource>
                <class>Pagcommerce_Payment_Model_Resource</class>
                <deprecatedNode>pagcommerce_payment_mysql4</deprecatedNode>
                <entities>
                </entities>
            </pagcommerce_payment_resource>
        </models>
        <helpers>
            <pagcommerce_payment>
                <class>Pagcommerce_Payment_Helper</class>
            </pagcommerce_payment>
        </helpers>
        <resources>
            <pagcommerce_payment_setup>
                <setup>
                    <module>Pagcommerce_Payment</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pagcommerce_payment_setup>
            <pagcommerce_payment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pagcommerce_payment_write>
            <pagcommerce_payment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pagcommerce_payment_read>
        </resources>
        <blocks>
            <pagcommerce_payment><class>Pagcommerce_Payment_Block</class></pagcommerce_payment>
        </blocks>
    </global>
    <frontend>
        <routers>
            <pagcommerce_payment>
                <use>standard</use>
                <args>
                    <module>Pagcommerce_Payment</module>
                    <frontName>pagcommerce</frontName>
                </args>
            </pagcommerce_payment>
        </routers>
        <translate>
            <modules>
                <Pagcommerce_Payment>
                    <files>
                        <default>Pagcommerce_Payment.csv</default>
                    </files>
                </Pagcommerce_Payment>
            </modules>
        </translate>
        <layout>
            <updates>
                <pagcommerce_payment>
                    <file>pagcommerce_payment.xml</file>
                </pagcommerce_payment>
            </updates>
        </layout>
    </frontend>
    <admin>
         <routers>
             <pagcommerce_payment_admin>
                 <use>admin</use>
                 <args>
                     <module>Pagcommerce_Payment</module>
                     <frontName>pagcommerce_payment_admin</frontName>
                 </args>
             </pagcommerce_payment_admin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Pagcommerce_Payment>
                    <files>
                        <default>Pagcommerce_Payment.csv</default>
                    </files>
                </Pagcommerce_Payment>
            </modules>
        </translate>
        <layout>
            <updates>
                <pagcommerce_payment>
                    <file>pagcommerce_payment.xml</file>
                </pagcommerce_payment>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <pagcommerce_payment>
                <enviroment>production</enviroment>
                <customer_taxvat_attribute>taxvat</customer_taxvat_attribute>
                <enable_log>1</enable_log>
                <customer_address_street>1</customer_address_street>
                <customer_address_number>2</customer_address_number>
                <customer_address_complement>3</customer_address_complement>
                <customer_address_district>4</customer_address_district>
            </pagcommerce_payment>
            <pagcommerce_payment_boleto>
                <active>0</active>
                <model>Pagcommerce_Payment_Model_Method_Boleto</model>
                <title>Pagcommerce - Boleto</title>
                <days>5</days>
                <allowspecific>0</allowspecific>
                <auto_cancel>1</auto_cancel>
                <payment_action>authorize</payment_action>
                <create_invoice>1</create_invoice>
                <dias_vencimento>3</dias_vencimento>
                <cancel_order>1</cancel_order>
            </pagcommerce_payment_boleto>
            <pagcommerce_payment_pix>
                <active>0</active>
                <model>Pagcommerce_Payment_Model_Method_Pix</model>
                <title>Pagcommerce - PIX</title>
                <allowspecific>0</allowspecific>
                <auto_cancel>1</auto_cancel>
                <payment_action>authorize</payment_action>
                <create_invoice>1</create_invoice>
                <qrcode_width>150</qrcode_width>
                <days>5</days>
                <cancel_order>1</cancel_order>
            </pagcommerce_payment_pix>
        </payment>
    </default>
    <crontab>
        <jobs>
            <pagcommerce_payment_cancelorders>
                <schedule>
                    <cron_expr>0 6 * * *</cron_expr>
                </schedule>
                <run>
                    <model>pagcommerce_payment/cron::callOrders</model>
                </run>
            </pagcommerce_payment_cancelorders>
        </jobs>
    </crontab>
</config>
