<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <pagcommerce_payment translate="label comment" module="pagcommerce_payment">
                    <label>Pagcommerce Configurações Gerais</label>
                    <comment><![CDATA[
                        Para mais informações sobre o módulo acesse <a href="https://www.pagcommerce.com.br/" target="_blank">nosso site</a>.<br/><br/>
                        ]]></comment>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enviroment translate="label">
                            <label>Modo</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pagcommerce_payment/source_environment</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enviroment>
                        <api_key>
                            <label>Api_Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_key>
                        <api_secret>
                            <label>Api_Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </api_secret>

                        <customer_taxvat_attribute>
                            <label>Atributo CPF/CNPJ do cliente</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pagcommerce_payment/source_customerattributes</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customer_taxvat_attribute>

                        <customer_address_street>
                            <label>Campo Endereço: Logradouro</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pagcommerce_payment/source_addresslines</source_model>
                            <sort_order>71</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customer_address_street>

                        <customer_address_number>
                            <label>Campo Endereço: Número</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pagcommerce_payment/source_addresslines</source_model>
                            <sort_order>72</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customer_address_number>

                        <customer_address_district>
                            <label>Campo Endereço: Bairro</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pagcommerce_payment/source_addresslines</source_model>
                            <sort_order>73</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customer_address_district>

                        <customer_address_complement>
                            <label>Campo Endereço: Complemento</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pagcommerce_payment/source_addresslines</source_model>
                            <sort_order>74</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customer_address_complement>



                        <enable_log translate="label">
                            <label>Ativar Logs</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Armezena logs de todas as requisições e respostas no arquivo var/log/pagcommerce_payment.log</comment>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_log>
                    </fields>
                </pagcommerce_payment>

                <pagcommerce_payment_pix translate="label comment" module="pagcommerce_payment">
                    <label>Pagcommerce PIX</label>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Ativar</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Título</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>20</show_in_store>
                            <depends><active>1</active></depends>
                        </title>

                        <instructions>
                            <label>Instruções/Descrição</label>
                            <comment>Mensagem que apacerá ao clicar na forma de pagamento Pix no checkout</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>47</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </instructions>

                        <days>
                            <label>Qtd Dias Vencimento</label>
                            <comment>Quantidade de dias para o vencimento do boleto</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </days>

                        <order_status translate="label">
                            <label>Status novo pedido</label>
                            <frontend_type>select</frontend_type>
                            <comment>Status para novos pedidos usando essa forma de pagamento</comment>
                            <source_model>adminhtml/system_config_source_order_status_new</source_model>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><active>1</active></depends>
                        </order_status>
                        <min_order_total translate="label">
                            <label>Valor mínimo do pedido</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>85</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min_order_total>
                        <max_order_total translate="label">
                            <label>Valor máximo do pedido</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_order_total>
                        <cancel_order translate="label">
                            <label>Cancelar pedidos após vencimento?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cancel_order>
                    </fields>
                </pagcommerce_payment_pix>
                <pagcommerce_payment_boleto translate="label comment" module="pagcommerce_payment">
                    <label>Pagcommerce Boleto Bancário</label>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Ativar</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Título</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>20</show_in_store>
                            <depends><active>1</active></depends>
                        </title>
                        <order_status translate="label">
                            <label>Status Novos Pedidos</label>
                            <frontend_type>select</frontend_type>
                            <comment>Status para novos pedidos usando essa forma de pagamento</comment>
                            <source_model>adminhtml/system_config_source_order_status_new</source_model>
                            <sort_order>42</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><active>1</active></depends>
                        </order_status>
                        <instructions>
                            <label>Instruções/Descrição</label>
                            <comment>Mensagem que apacerá ao clicar na forma de pagamento Boleto no checkout</comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>47</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </instructions>
                        <comments>
                            <label>Comentário Boleto</label>
                            <comment>Mensagem que apacerá como informação adicional no boleto</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>48</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </comments>
                        <days>
                            <label>Qtd Dias Vencimento</label>
                            <comment>Quantidade de dias para o vencimento do boleto</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>49</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><active>1</active></depends>
                        </days>
                        <min_order_total translate="label">
                            <label>Valor mínimo do pedido</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>85</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min_order_total>
                        <max_order_total translate="label">
                            <label>Valor máximo do pedido</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_order_total>
                        <cancel_order translate="label">
                            <label>Cancelar pedidos após vencimento?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cancel_order>
                    </fields>
                </pagcommerce_payment_boleto>
                <pagcommerce_payment_cc translate="label comment" module="pagcommerce_payment">
                    <label>Pagcommerce Cartão de Crédito</label>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Ativar</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Título</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>20</show_in_store>
                            <depends><active>1</active></depends>
                        </title>

                        <brands translate="label">
                            <label>Bandeiras Aceitas</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>Pagcommerce_Payment_Model_Source_CreditCard_Brand</source_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><active>1</active></depends>
                        </brands>


                        <order_status translate="label">
                            <label>Status novo pedido</label>
                            <frontend_type>select</frontend_type>
                            <comment>Status para novos pedidos usando essa forma de pagamento</comment>
                            <source_model>adminhtml/system_config_source_order_status_new</source_model>
                            <sort_order>31</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><active>1</active></depends>
                        </order_status>

<!--                        <payment_action translate="label">-->
<!--                            <label>Payment Action</label>-->
<!--                            <frontend_type>select</frontend_type>-->
<!--                            <source_model>pagcommerce_payment/source_paymentaction</source_model>-->
<!--                            <sort_order>43</sort_order>-->
<!--                            <show_in_default>1</show_in_default>-->
<!--                            <show_in_website>1</show_in_website>-->
<!--                            <show_in_store>1</show_in_store>-->
<!--                        </payment_action>-->
                        <order_status translate="label">
                            <label>Status novo pedido</label>
                            <frontend_type>select</frontend_type>
                            <comment>Status para novos pedidos usando essa forma de pagamento</comment>
                            <source_model>adminhtml/system_config_source_order_status_new</source_model>
                            <sort_order>44</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>

                        <descriptor>
                            <label>Nome Loja</label>
                            <comment>Aparecerá na fatura do Cartão. Não colocar caracteres especiais ou acentuação.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>53</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </descriptor>


                        <min_order_total translate="label">
                            <label>Valor mínimo do pedido</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>85</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min_order_total>
                        <max_order_total translate="label">
                            <label>Valor máximo do pedido</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_order_total>


                        <documento_obrigatorio>
                            <label>Documento obrigatório?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>95</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Habilite se quiser que o CPF/CNPJ seja informado no pagamento</comment>
                        </documento_obrigatorio>
                        <customer_attribute translate="label">
                            <label>Atributo de CPF/CNPJ do cliente</label>
                            <frontend_type>select</frontend_type>
                            <source_model>pagcommerce_payment/source_customerattributes</source_model>
                            <show_in_default>1</show_in_default>
                            <sort_order>96</sort_order>
                            <depends><documento_obrigatorio>1</documento_obrigatorio></depends>
                        </customer_attribute>




                        <installments>
                            <label>Parcelamento</label>
                            <frontend_model>pagcommerce_payment/adminhtml_config_installments</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Crie configurações de parcelamento]]></comment>
                            <depends>
                                <active>1</active>
                            </depends>
                        </installments>


                        <label_install>
                            <label>Mensagem de juros</label>
                            <frontend_type>text</frontend_type>
                            <comment>Mensagem adicional exibida no seletor de parcelamento. Usar %s para inserir o valor total</comment>
                            <sort_order>101</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </label_install>
                        <label_nofee>
                            <label>Mensagem sem juros</label>
                            <frontend_type>text</frontend_type>
                            <comment>Mensagem adicional exibida no seletor de parcelamento para parcelas sem juros</comment>
                            <sort_order>102</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </label_nofee>







                    </fields>
                </pagcommerce_payment_cc>

            </groups>
        </payment>
    </sections>
</config>